.button {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.button-gray {
  background: #524e56;
  color: #fff;
}

.button-purple {
  background: #4d3b8c;
  color: #fff;
}

.button-red {
  background: #ff5c50;
  color: #fff;
}