.header {
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0;
  opacity: 0.9;
}

.header-company {
  text-align: center;
  font-family: Verdana sans-serif;
  font-size: 32px;
  text-decoration: #3D3E4C;

  float: left;
  display: inline;
  width: 134px;
  height: 36px;
}

.header-nav {
  float: right;
  vertical-align: baseline;
  line-height: 50px;
}

.header-nav-item {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: inline-block;
}

.header-nav-link {
  text-decoration: underline;
  color: #46576C;
}

@media (max-width: 640px) {
  .header-company {
    position: inherit;
    width: auto;
    background: #fff;
    top: auto;
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .header {
    position: inherit;
    width: auto;
    background: #fff;
    top: auto;
    opacity: 1;
  }

  .header-nav,
  .header-logo {
    float: none;
  }
}

@media (max-width: 360px) {
  .header-nav-item {
    display: block;
  }
}